{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in portfolio %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.name }}</td>
                    <td>{{ stock.shares }}</td>
                    <td>{{ stock.price }}</td>
                    <td>{{ stock.value }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" class="text-end"><strong>Cash</strong></td>
                <td><strong>{{ cash }}</strong></td>
            </tr>
            <tr>
                <td colspan="4" class="text-end"><strong>Total Portfolio Value</strong></td>
                <td><strong>{{ total }}</strong></td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
