{% extends 'layout.html' %}
{% block body %}
<h2>Add Task</h2>
<form method="post">
  <div class="mb-3">
    <input class="form-control" name="title" placeholder="Title" required>
  </div>
  <div class="mb-3">
    <input class="form-control" name="category" placeholder="Category (Study, Exam, Project)">
  </div>
  <div class="mb-3">
    <textarea class="form-control" name="description" placeholder="Description"></textarea>
  </div>
  <div class="mb-3">
    <input class="form-control" type="date" name="due_date">
  </div>
  <button class="btn btn-primary">Add</button>
</form>
{% endblock %}
