.dark-mode {
    background-color: #000;
    color: #fff;
    transition: 0.3s ease;
}
#modeToggle {
    border: none;
    background: transparent;
    font-size: 25px;
    cursor: pointer;
    margin-right: 10px;
}
