*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    color: white;
    height: 60px;
    background-color: #0f1111;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
    margin-right: 15px;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
.one{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 22px;
}
.two{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.three{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: border-box;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(248, 191, 4);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
span{
    font-size: 12px;
}
.sign{
    font-weight: 700;
}
.nav-search:hover{
    border: 2px solid orangered;
}
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
.panel{
    height: 40px;
    background-color:#222f3d ;
    display: flex;
    color: white;
    align-items: center;
    
}
.panel p{
    display: inline;
    margin-left: 15px;
}
.panel-ops{
    width: 80%;
    margin-left: 30px;
}
.shop{
    font-weight: 700;
    font-size: 0.85rem;
    margin-left: 40px;
    
}
.hero{
    background-image: url(hero_image.jpg);
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}
.ms{
    color: black;
    background-color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    height: 40px;
    font-size: 0.85rem;
    width: 90%;
    align-items: center;

    
}
.ms a{
    color: #007185;
}
.box{
    height: 400px;
    width: 23%;
    background-color: white;
    margin-top: 15px;
    padding: 20px 0px 15px;
    
}
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6
}
.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color: #007185;
}
footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}
ul{
    margin-top: 20px;
}
.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
}
.logo1{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}
.foot-panel4{
    background-color: #0f1111;
    height: 65px ;
    color: white;
   
}
.pages{
    font-size: 0.7rem;
    text-align: center;
    padding-top: 17px;
}
.copyright{
    font-size: 0.7rem;
    text-align: center;
    padding-top: 5px;
}