div{
    background-color:red;
    color: white;
    border: 2px black solid;
    display: inline-block;
    text-align: center;
    font-size:32px;
    margin: 70px;
    padding: 20px 20px 20px 20px;
}

form{
    border: 2px black solid;
    text-align: center;
    
}
body{
    background-image: url(registration.jpg);
    background-size: cover;
    text-align: center;
}
