*{
    padding: 0;
    margin: 0;
}
.nav{
    height: 45px;
    width: 100%;
    background-color: #0f1111;
    display: flex;
   
}
.logo{
    height: 40px;
    width:100px;
    color: white;
    font-weight: bolder;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    padding-left: 10px;
}
a{
    color: white;
}
.content{
    display: flex;
     justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    font-size: larger;
}
.search{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-right: 15px;
    
    
}
a:hover{
    color: orangered;
}
input{
    font-size: large;
}
button{
    font-size: large;
}
button:hover{
    background-color: rgb(243, 153, 96);
}
input:hover{
    background-color: rgb(243, 153, 96);
}
form{
    float: right;
    font-size: large;
    justify-content: center;
    align-items: center;
    margin: 50px 50px ;
    border-radius: 10px;
}
.btn{
    text-align: center;
    border-radius: 10px;
}
