div {
    background-color:rgba(255, 0, 0, 0.5);
    color: white;
    border: 2px black solid;
    display: inline-block;
    text-align: center;
    font-size:32px;
    margin: 70px;
    padding: 20px 20px 20px 20px;
}
form{
    text-align: center;
    border: 2px black solid;
}
body{
    font-family: 'Times New Roman', Times, serif;
    font-style:italic;
    font-weight: bolder;
    background-image: url(registration.jpg);
    background-size: cover;
    text-align: center;
}
